<form action="">
	<div class="row g-3 align-items-center">
		<div class="col-5">
			<div class="my-2">
				<label for="name" class="col-form-label">Name</label>
			</div>
			<div class="my-2">
				<label for="symbol" class="col-form-label">Symbol</label>
			</div>
			<div class="my-2">
				<label for="contract_address" class="col-form-label">Contract Address</label>
			</div>
			<div class="my-2">
				<label for="total_supply" class="col-form-label">Total Supply</label>
			</div>
			<div class="my-2">
				<label for="total_holders" class="col-form-label">Total Holders</label>
			</div>
			<div class="my-2">
				<label for="nan" class="col-form-label"></label>
			</div>
		</div>
		<div class="col-7">
			<div class="my-2">
				<input type="text" placeholder="Name" class="form-control" id="name" />
			</div>
			<div class="my-2">
				<input type="text" placeholder="Symbol" class="form-control" id="symbol" />
			</div>
			<div class="my-2">
				<input type="text" placeholder="Contract Address" class="form-control" id="contract_address" />
			</div>
			<div class="my-2">
				<input type="number" placeholder="Total Supply" class="form-control" id="total_supply" />
			</div>
			<div class="my-2">
				<input type="number" placeholder="Total Holders" class="form-control" id="total_holders">
			</div>
			<div class="my-2">
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="reset" class="btn btn-secondary button__reset">Reset</button>
			</div>
		</div>
	</div>
</form>