<div class="pie__chart p-5">
	<canvas id="doughnut" width="400px" chart-data="data" chart-labels="labels" chart-options="options">
		
	</canvas>
</div>

@section Scripts {
	<script src="~/js/doughnut.js"></script>
}