<div>
	<div>
		<h4 id="detail-title"></h4>
	</div>
	<div class="px-4">
		<div class="row border-bottom border-1 my-3 pb-3">
			<div class="col-4">
				<span>Price:</span>
			</div>
			<div class="col-8">
				<span><strong id="detail-price"></strong></span>
			</div>
		</div>
		<div class="row border-bottom border-1 my-3 pb-3">
			<div class="col-4">
				<span>Total Supply:</span>
			</div>
			<div class="col-8">
				<span id="detail-total-supply"></span>
			</div>
		</div>
		<div class="row border-bottom border-1 my-3 pb-3">
			<div class="col-4">
				<span>Total Holders:</span>
			</div>
			<div class="col-8">
				<span id="detail-total-holders"></span>
			</div>
		</div>
		<div class="row pb-1">
			<div class="col-4">
				<span>Name:</span>
			</div>
			<div class="col-8">
				<span id="detail-name"></span>
			</div>
		</div>
	</div>
</div>	