@{
	ViewData["Title"] = "Home Page";
}

<div class="row flex-wrap gy-5">
	<div class="col-md-4 col-sm-12">
		<h4>Save / Update Token</h4>
		@await Html.PartialAsync("~/Views/Partials/_TokenForm.cshtml")
	</div>
	<div class="col-md-8 col-sm-12">
		@await Html.PartialAsync("~/Views/Partials/_TokenDoughnutChart.cshtml")
	</div>
	
	<hr class="my-5"/>
	
	<div class="px-3">
		@await Html.PartialAsync("~/Views/Partials/_TokenTable.cshtml", (List<TokenViewModel>)ViewBag.Tokens)
	</div>
</div>

@section Scripts {
	@* Doughnut chart js *@
	<script>
		const tokens = @Html.Raw(Json.Serialize(ViewBag.Tokens));
	</script>
	
	@* Fill edit form *@
	<script>
		$(document).on("click", ".a__edit", function(e) {
			e.preventDefault();
			editFillForm($(this).attr("row-index"));
		})
	</script>
	
	@* Show detail page *@
	<script>
		$(document).on("click", ".a__symbol", function(e) {
			e.preventDefault();
			var tokenId = $(this).attr("token-id");
			
			window.history.pushState({}, "", `/detail.aspx?id=${tokenId}`);
			
			const urlParams = new URLSearchParams(window.location.search);
			const urlId = urlParams.get("id");
			
			$.ajax({
				url: `${apiUrl}/token/${urlId}`,
				method: "GET",
				success: function(res) {
					console.log(res);
				},
				error: function(xhr, status, error) {
					console.log("Error:", error);
				}
			})
		})
		
		window.addEventListener('popstate', function(e) {
			if (window.location.pathname === "/detail.aspx") {
				
			}
		})
	</script>
	<script src="~/js/doughnut.js"></script>
}
