@{
	ViewData["Title"] = "Home Page";
}

<div class="row flex-wrap gy-5" id="dashboard">
	<div class="col-md-4 col-sm-12">
		<h4>Save / Update Token</h4>
		@await Html.PartialAsync("~/Views/Partials/_TokenForm.cshtml")
	</div>
	<div class="col-md-8 col-sm-12">
		@await Html.PartialAsync("~/Views/Partials/_TokenDoughnutChart.cshtml")
	</div>
	
	<hr class="my-5"/>
	
	<div class="px-3">
		@await Html.PartialAsync("~/Views/Partials/_TokenTable.cshtml", (List<TokenViewModel>)ViewBag.Tokens)
	</div>
</div>

<div id="token-detail">
	@await Html.PartialAsync("~/Views/Partials/_TokenDetail.cshtml")
</div>

<div id="error-div">

</div>
