@model List<TokenViewModel>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Rank</th>
				<th scope="col">Symbol</th>
				<th scope="col">Name</th>
				<th scope="col">Contract Address</th>
				<th scope="col">Total Holders</th>
				<th scope="col">Total Supply</th>
				<th scope="col">Total Supply %</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr id="table-row-default">
				<th scope="row" class="table__row__rank"></th>
				<td>
					<a href="#" class="a__symbol table__row__symbol" token-id=""></a>
				</td>
				<td class="table__row__name"></td>
				<td class="table__row__contract_address"></td>
				<td class="table__row__total_holders"></td>
				<td class="table__row__total_supply"></td>
				<td class="table__row__total_supply_perc"></td>
				<td>
					<a href="#" class="a__edit table__row__edit" token-id="">Edit</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<nav id="table-pagination">
	<ul class="pagination justify-content-end">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="page-item" style="display: none;" id="pagination-list-item"><a class="page-link page-link-num" href="#" table-page=""></a></li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
